body
  box-sizing border-box
  padding 0
  margin 0

.external-container
  flex 100 0 auto
  -webkit-flex 100 0 auto
  -ms-flex 100 0 auto
  height 100%
.demo-container
  box-sizing border-box
  display flex
  display -webkit-flex
  display -moz-flex
  overflow auto
  flex-direction row
  -ms-flex-direction row
  -webkit-box-orient horizontal
  -moz-box-orient horizontal
  width 100%
  height 100%
.demo-pane-container
  width 20em
  min-width 20em
h5
  margin-top 0.3em
  margin-bottom 0.3em